
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');


body{
    display: flex;
    margin: 0em;
    font-family: 'Open Sans', sans-serif;
    
    /* word-wrap: break-word; */
    
}
nav{
    max-width: 200px;
    background-color: rgb(184, 189, 158);
    height: 505vh;
   
   
}
nav a{
    padding: 20px;
    color: rgb(8, 7, 7);
    border: 2px solid rgb(233, 226, 226);
    display: block;
    text-decoration: none;
    width: 150px;
}
nav a:hover {
    background-color: #ddd;
    color: rgb(136, 32, 32);
}

.main{
   
    flex: 1;
    overflow-y: scroll;
    /* text-overflow: clip; */
   
}
section{
    padding: 12px;
    line-height: 1.5;
}
header{
    font-size: 25px;
    font-weight: 500;
    padding: 25px;
    background-color: rgba(65, 2, 56, 0.397);
    animation-name: sidebaranimation;
    animation-duration: .5s;
}
code {
    display: block;
    white-space: pre-line;
    position: relative;
    word-break: normal;
    line-height: 2;
    background-color: #0000001a;
    border-radius: 5px;
    margin-left: 30px;
    margin-right: 50px;
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.datadashes li::before {
    content: "\2013";
    color: rgb(44, 44, 44);
}
  p {
    width: 300px;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  

  pre {
    font-family: "Operator Mono A", "Operator Mono B", "Source Code Pro", Menlo, Consolas, Monaco, monospace;
    clear: both;
    color: rgb(255, 255, 255);
    tab-size: 2;
    word-break: normal;
    hyphens: none;
    position: relative;
    line-height: 28px;
    min-width: 100px;
    max-width: 100%;
    background: rgba(32, 28, 41, 0.75);
    padding: 0px;
    border-radius: 8px;
    overflow: hidden;
}
  @media screen and (max-width: 800px) {
  p {
    width: 50px;
   }
  }

@media (max-width: 600px){
    body{
        flex-direction: column;
    }
    nav{
        border-right: none;
        width: 100%;
        height: 390px;
        overflow-y: scroll;
        border-bottom:2px solid #777;
    }
    main{
        width: 100%;
        height: auto;
        overflow-y: none;
    }
}